@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@700&family=Open+Sans:wght@600&family=Whisper&display=swap');

h1, h3, h5{
    font-family: 'Open Sans', sans-serif;
    color: brown;
}

h6{
    font-family: 'Allura', cursive;
    font-size: 46px;
    color:maroon;
}

body {
    background-color: #f8f8f8;
}

footer{
    background-color: lightgoldenrodyellow;
}

.fab.fa-instagram {
    color: brown;
}

.fab.fa-whatsapp {
    color: brown;
}

.nav-item a {
    color: brown !important; /* Use !important to override existing styles */
  }

#carouselExample .carousel-caption {
    position: absolute;
    top: 57%;
    left: 83%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.order-btn {
    font-family: 'Open Sans', sans-serif;
    color: brown;
    border: 1.5px solid #800000;
    border-radius: 25px;
    padding: 15px 35px;
    transition: background-color 0.3s, color 0.3s;
}

.order-btn:hover {
    background-color: brown; 
    border: 1px solid #8b4513;
    color: white;
}

.view-btn {
    font-family: 'Open Sans', sans-serif;
    color: brown;
    border: 1px solid #800000;
    border-radius: 25px;
    padding: 15px 35px;
    transition: background-color 0.3s, color 0.3s;
}

.view-btn:hover {
    background-color: brown; 
    border: 1px solid #8b4513;
    color: white;
}

.add-to-cart-btn {
    font-family: 'Open Sans', sans-serif;
    color: brown;
    border: 1px solid #800000;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 95px;
}

.add-to-cart-btn:hover {
    background-color: brown; 
    border: 1px solid #8b4513;
    color: white;
}

.product-image {
    width: auto;
    height: 348px;
}

.accordion-button {
    font-weight: bold;
}